/* Override styles from labBase.css */
/* -------------------------------- */
html, body
{
    height: auto;
    margin-bottom: 30px;
    background-color: #eee;
}

.labButton
{
    margin: 0;
}
/* -------------------------------- */

/* HTML5 fallback styles for older browsers */
/* ---------------------------------------- */
article, aside, footer, header, nav, section, figure
{
    display: block;
    box-sizing: border-box;
}
/* ---------------------------------------- */

article
{
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 0 1.5em 0.25em 1.5em;
    box-shadow: 10px 0px 10px rgba(140,140,140,0.75);
    border-radius: 6px;
}

h1
{
    font-size: 2.5em;
    padding-top: 0.5em;
    margin-bottom: 0.25em;
}

time
{
    text-transform: uppercase;
    font-style: italic;
    font-size: 0.75em;
    color: #757575;
}

p
{
    line-height: 1.5em;
    font-weight: 100;
    text-align: justify;
}

figure
{
    width: 90%;
    margin: auto;
    padding: 1.5em 0 2em 0;
}

figure img
{
    width: 100%;
}

figcaption
{
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    text-align: right;
    padding-bottom: 3px;
}

nav
{
    float: right;
    font-size: 1.25em;
    margin-top: 2px;
}

nav a
{
    background-color: #757575;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    width: 25px;
    text-align: center;
    display: inline-block;
}

nav a:hover
{
    background-color: #fc6721;
    text-decoration: none;
    cursor: pointer;
}

.notes
{
    display: inline-block;
    font-style: italic;
    font-size: 0.75em;
    margin-bottom: 1.5em;
}
