/* Override styles from base.css */
/* -------------------------------- */
html, body
{
    height: auto;
    margin-bottom: 30px;
    background-color: #eee;
}

.labButton
{
    margin: 0 0 0 0.5em;
    width: 4em;
}
/* -------------------------------- */

.container
{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 0 1.5em 0.25em 1.5em;
    box-shadow: 10px 0px 10px rgba(140,140,140,0.75);
    border-radius: 6px;
}

h1
{
    font-size: 2.5em;
    padding-top: 0.5em;
    margin-bottom: 0.25em;
}

time
{
    text-transform: uppercase;
    font-style: italic;
    font-size: 0.75em;
    color: #757575;
}

p
{
    line-height: 1.5em;
    font-weight: 300;
}

figure
{
    /* width: 100% + margin: auto required in order for us to use the max space without the image bleeding off the right edge of the layout */
    width: 100%;
    margin: auto;
    padding: 1.5em 0 2em 0;
}

figure img
{
    width: 100%;
}

figcaption
{
    font-size: 0.75em;
    padding-bottom: 3px;
}

footer div
{
    float: right;
    margin-top: 4px;
}

footer .fas
{
    margin-left: 0.25em;
}

.notes
{
    display: inline-block;
    font-style: italic;
    font-size: 0.75em;
    margin-bottom: 1.5em;
}

@media (max-width:360px)
{
    /* The following styles adjust the layout for very narrow screens, reducing the margins and allowing the download buttons to appear above the Trafford Data Lab logo and flush with the left margin. */
    footer div
    {
        float: none;
        padding-bottom: 0.5em;
    }

    .labButton
    {
        margin: 0 0.5em 0.5em 0;
    }

    .container
    {
        padding: 0 0.25em 0.25em 0.25em;
    }
}
